[user]
	email = kkcocogogo@gmail.com
	name = timfeirg
	signingkey = E0AABAE6842603BA
[push]
	default = current
[url "git@gitlab.ricebook.net:"]
	insteadOf = https://gitlab.ricebook.net/
[http "https://gopkg.in"]
	followRedirects = true
[http]
	followRedirects = true
[https]
	followRedirects = true
[commit]
	gpgSign = true
[gpg]
	program = gpg
