-i https://mirrors.aliyun.com/pypi/simple/
# -i https://pypi.doubanio.com/simple/
requests
black
pygments
sqlparse
flake8
neovim
pip
pip-tools
mycli
watchdog
#python-language-server[all]==0.22.0
python-language-server[all]
virtualenv
virtualenvwrapper
isort
devpi-client
ansible
