-i https://mirrors.aliyun.com/pypi/simple/
# -i https://pypi.doubanio.com/simple/
requests
black
pygments
sqlparse
flake8
neovim
pip
pip-tools
python-language-server[all]
pycodestyle
virtualenv
virtualenvwrapper
isort
devpi-client
msgpack
pre-commit
mypy
